name: Deploy HabitHero to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        run: docker build -t habithero-app .

      - name: Save image to tar
        run: docker save habithero-app -o habithero-app.tar

      - name: Copy image to EC2
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          source: "habithero-app.tar"
          target: "/home/ubuntu/"

      - name: SSH into EC2 and run container
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          script: |
            docker load -i habithero-app.tar
            docker stop habithero || true
            docker rm habithero || true
            docker run -d -p 8080:8080 --name habithero habithero-app
